{% extends "app/base.html" %}
{% block title %}{{ entry.title }} - {{ user_name }} - Blog Page - app{% endblock %}
{% block content %}
  <h1><a href="/{{ user_name }}/blog">{{ user_name }} - Blog Page</a></h1>
  <div class="blog-title">{{ entry.title }}</div>
  <div class="blog-created">{{ entry.view_datetime('created') }}</div>
  <div class="blog-text">{{ entry.view_text()|safe }}</div>
  <div class="blog-tags">
    Tags:
    {% for tag in entry.tags %}
      <a href="/tag/{{ tag }}">{{ tag }}</a>
    {% endfor %}
  </div>
  <div class="blog-comment">
    <a href="/{{ user_name }}/blog/{{ entry.key().id() }}#comment">Comment({{ entry.comments.count() }})</a>
  </div>
  <a name="comment"></a>
  <div id="blog-entry-comments">
    {% for comment in entry.comments %}
      <div class="blog-entry-comment">
        <div class="blog-entry-comment-title">{{ comment.title }}</div>
        <div class="blog-entry-comment-created">{{ comment.view_datetime('created') }}</div>
        <div class="blog-entry-comment-text">{{ comment.view_text()|safe }}</div>
        <div class="blog-entry-comment-author">by {{ comment.user }}</div>
      </div>
    {% endfor %}
  </div>
  <div>
    {{ form()|safe }}
  </div>
{% endblock %}