{% extends "app/base.html" %}
{% block title %}BBS Page - app{% endblock %}
{% block content %}
  <div>
    {{ form()|safe }}
  </div>
  <table>
    <tr><th>Auther</th><th>Title</th><th>Updated</th><th>Created</th></tr>
    {% for thread in threads.object_list %}
      <tr>
        <td>{{ thread.user.user_name }}</td>
        <td><a href="/bbs/{{ thread.key().id() }}">{{ thread.title }}</a></td>
        <td>{{ thread.updated }}</td>
        <td>{{ thread.created }}</td>
      </tr>
    {% endfor %}
  </table>
  {{ paginator|safe }}
{% endblock %}