{% extends "app/base.html" %}
{% block title %}{{ thread.title }} - BBS Thread Page - app{% endblock %}
{% block content %}
  <h1>{{ thread.title }}</h1>
  <div>
    <dl class="info">
      <dt>Auther</dt><dd>{{ thread.user.user_name }}</dd>
      <dt>Created</dt><dd>{{ thread.created }}</dd>
    </dl>
    <div class="text">{{ thread.view_text()|safe }}</div>
  </div>
  {% for comment in thread.comments %}
    <div>
      <dl class="info">
        <dt>Auther</dt><dd>{{ comment.user.user_name }}</dd>
        <dt>Created</dt><dd>{{ comment.created }}</dd>
      </dl>
      <div class="text">{{ comment.view_text()|safe }}</div>
  {% endfor %}
  <div>
    {{ form()|safe }}
  </div>
{% endblock %}